<nav class="navbar navbar-light bg-light"> 
        <div class="container">
            <form class="form-inline">
                <a href="/" class="btn btn-outline-success">Home</a>
                <a href="/posts/new" class="btn btn-sm btn-outline-secondary">New Post</a>
            </form>
            
            <div class="nav navbar-nav navbar-right">
                <form class="form-inline">
                    <a href="/auth/signup" class="btn btn-sm btn-outline-secondary">Sign Up</a>
                    <a href="/auth/login" class="btn btn-sm btn-outline-secondary">Login</a>
                    <a href="/auth/logout" class="btn btn-sm btn-outline-secondary">Log Out</a>
                </form>
            </ul>
        </div>
</nav>