<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <a href="/" class="btn btn-outline-success">Home</a>
        <a href="/posts/new" class="btn btn-sm btn-outline-secondary">New Post</a>
    </form>
</nav>