<nav class="navbar navbar-light bg-light"> 
        <div class="container">
            <form class="form-inline">
                <a href="/" class="btn btn-outline-success">Home</a>
                {{#if currentUser}}
                    <a href="/posts/new" class="btn btn-sm btn-outline-secondary">New Post</a>
                    <a href="/users/{{currentUser.username}}" class="btn btn-sm btn-outline-secondary">Profile</a>
                    
                {{/if}}
            </form>
            
            <div class="nav navbar-nav navbar-right">
                <form class="form-inline">
                    {{#if currentUser}}
                        <a href="/auth/logout" class="btn btn-sm btn-outline-secondary">Log Out</a>
                    {{else}}
                        <a href="/auth/signup" class="btn btn-sm btn-outline-secondary">Sign Up</a>
                        <a href="/auth/login" class="btn btn-sm btn-outline-secondary">Login</a>
                    {{/if}}
                </form>
            </ul>
        </div>
</nav>